@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alinhamento{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 350px;
    width: 500px;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

body {
    
    max-width: 1500px;
    margin: 0 auto;
    flex-flow: column;
    min-height: 100vh;
    display: flex;
    background-color: black;
}

h2 {
    font-size: 28px;
    font-family:  'Birthstone' , cursive;
    color: black;
}

div {
    font-size: 23px;
    font-family:  'Birthstone' , cursive;
    color: black;

}

button {
    font-size: 23px;
    font-family:  'Birthstone' , cursive;
    color: black;
}
